html, body {
  height: 100vh;
  margin: 0;
  padding: 0;
}
#container {
  max-width: 100%;
  overflow: auto;
  height: 100vh;
  position: relative;
}

@media screen and (max-width: 1300px) and (min-width: 601px) {
  .deepocean1-box {
    max-width: 100%;
  }
  .deepocean1-box img {
    width: 100%;
  }
  .booking-box {
    position: absolute;
    top:3%;
    left: 3%;
    background-color: white;
    max-width: 33%;
    height: 200px;
    border-radius: 5px;
  }
  .booking-box p {
    padding: 5%;
  }
  .descript-box {
    float: left;
    background-color: black;
    color: white;
    width: 49.5%;
    height: 40vh;
  }
  .descript-box p {
    padding: 5%;
    text-align: center;
    font-size: 20px;
  }
  .hotel-info {
    height: 40vh;
    float: right;
    background-color: black;
    color: white;
    width: 49.5%;
  }
  .hotel-info p {
    padding: 1%;
    font-size: 12px;
  }
  .paragraph span {
    font-size: 30px;
  }
  p {
    font-family: 'Poppins', sans-serif;
  }
}
/*For mobile only*/
@media screen and (max-width: 600px) {

  .booking-box {
      max-width: 100%;
      height: 5vh;
      background-color: white;
      padding: 2%;
      text-align: center;
      border-radius: 7px;
      font-family: 'Poppins', sans-serif;
      font-size: 13px;
  }
  .deepocean1-box, .deepocean1-box img {
    max-width: 100%;
    border-radius: 7px;
  }

  .descript-box {
    max-width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    padding-top: .09%;
    padding-bottom: 20%;
    margin-right: 1%;
    margin-top: 5%;
    border-radius: 7px;
    font-family: 'Poppins', sans-serif;
  }

  .paragraph p {
    font-size: 14px;
  }

  .paragraph span {
    font-size: 16px;
  }

  .paragraph {
    padding: 5%;
  }

  .hotel-info {
    max-width: 100%;
    background-color: black;
    color: white;
    border-radius: 7px;
  }

  .hotel-info p {
    padding: 5%;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
  }
}
